.button {
  width: calc(25% - 10px);
  height: 90px;
  margin: 5px;
  background-color: rgb(46, 46, 46);
  color: #fff;
  border-radius: 10px;
  display: flex;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  box-shadow: 5px 5px 18px 0 rgba(0, 0, 0, 0.15),
    -5px -5px 18px 0 rgba(29, 29, 29, 0.4);

  &:active {
    box-shadow: inset 3px 3px 24px 0 rgba(0, 0, 0, 0.15),
      inset -3px -3px 24px 0 rgba(22, 22, 22, 0.4);
  }

  &[value="C"],
  &[value=","],
  &[value="-"],
  &[value="+"] {
    order: -2;
  }

  &[value="9"],
  &[value="8"],
  &[value="7"] {
    order: -1;
  }

  &[value="6"],
  &[value="5"],
  &[value="4"] {
    order: 1;
  }

  &[value="*"] {
    order: 2;
  }

  &[value="3"],
  &[value="2"],
  &[value="1"] {
    order: 3;
  }

  &[value="0"] {
    width: calc(75% - 10px);
    order: 4;
  }

  &[value="="] {
    height: 190px;
    order: 5;
    transform: translateY(calc(-50% -5px));
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.symbol {
  background-color: rgb(218, 150, 25);
  font-size: 1.5em;

  &:active {
    box-shadow: inset 6px 6px 24px 0 rgba(0, 0, 0, 0.7),
      inset -6px -6px 24px 0 rgba(22, 22, 22, 0.4);
  }
}
